.containerguardian{display: block;}
.elementguardian{
    padding: 15px;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 10px;
    color: #4b4948;
    font-size: 19px;
}

.newguardian{
    padding: 10px;
}

input[type="text"]{
    width: 100%;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#guardianes_form_save, #demo_form_save, #user_form_save, .classbutton{
    background: linear-gradient(180deg, #ffce32 0%, #f9a519 100%)!important;
    color: white !important;
    border-radius: 4px!important;
    font-size: 1.25em!important;
    padding: .5em 1em!important;
    border: none!important;
    margin-bottom: 20px!important;
}

.mainlist{
    list-style-type: decimal;
    font-size: 16px;
    font-size: 22px;
    padding: 25px;

}

.inputlogin{
    width: 100%;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logincontainer{
    padding: 15px;
}
/*Slider*/
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity:1}
}

@keyframes fade{
    from{opacity:.4}
    to{opacity:1}
}

.prev:hover, .next:hover{
    background-color:rgba(0,0,0,0.8);
}

.text{
    color:#f2f2f2;
    font-size:15px;
    padding:8px 12px;
    position:absolute;
    bottom:8px;
    width:100%;
    text-align:center;
}

.numbertext{
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
}

*{box-sizing:border-box}

.slideshow-container{
    max-width: 1000px;
    position:relative;
    margin:auto;background-color: #4b4948;
    border-radius: 7px;
}


}

.mySlides{
    display:none;
}

.prev, .next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top:-22px;
    padding:16px;
    color:white;
    font-weight:bold;
    font-size:30px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
}



.next{
    right:0;
    border-radius:3px 0 0 3px;
}

.contpadd{padding:15px;
    margin: 10px;}

.elementslider{
    padding: 46px;
    background-color: #4b4948;
    border-radius: 8px;
    margin: 10px;
    color: white;
    font-size: 19px;
}

.auxform{
    margin-top: 10px;
}