



{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>#}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{ asset('assets/styles/styles.css') }}>
    <link rel="stylesheet" href={{ asset('assets/styles/andrea.css') }}>
</head>

<body>
<div class="wrapper">
    <div class="container-fluid">
        <header class="header">
            <img src="assets/img/logo.svg" alt="Maleteo">
        </header>
    </div>
</div>
<main>
    <div class="jumbo">
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="jumbo__ww-title">
                            <div class="jumbo__w-title">
                                <h1 class="jumbo__title heading1">
                                    Gana dinero guardando equipaje a viajeros como tu
                                </h1>
                                <ul class="jumbo__app-btns">
                                    <li>
                                        <a href="#">
                                            <img src="assets/img/app-store.svg"
                                                 alt=""
                                                 class="jumbo__app-btn">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/img/google-play.svg"
                                                 alt=""
                                                 class="jumbo__app-btn">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">

        <div class="container-fluid">
            {% block innerside %}
                <h2 class="heading1">Funcionalidades</h2>
                <ol class="mainlist">
                    <li>Renderizado por TWIG</li>
                    <li>Insertar en MYSQL las solicitudes DEMO <a href="/maleteo/nuevademo">Enlace</a></li>
                    <li>Mostrar las opiniones de los guardianes de forma dinámica <a href="/maleteo/listguardianes">Enlace</a></li>
                    <li>Mostrar el listado de las solicitudes demo <a href="/maleteo/solicitudes">Enlace</a></li>
                    <li>Insertar las solicitudes de los guardianes <a href="/maleteo/nuevoguardian">Enlace</a></li>
                    <li>Login de usuarios <a href="/login">Enlace login/logout</a></li>
                    <li>Registro de usuarios <a href="/register">Enlace registro</a></li>
                    <li>Slider Guardianes <a href="/maleteo/slider">Enlace</a></li>
                    <li>Editar ficha guardian <a href="/maleteo/listguardianes">Enlace</a></li>
                </ol>
                {#
                <section class="howworks">
                    <h2 class="howworks__title heading2">
                        ¿Cómo funciona?
                    </h2>
                    <ol class="howworks__steps row">
                        <li class="col-md-4">
                            <div class="howworks__step">
                                <div class="howworks__step-w-bola">
                                    <div class="howworks__step-bola">
                                        <span class="heading3">1</span>
                                    </div>
                                </div>
                                <div class="howworks__step-w-txt">
                                    <p class="howworks__step-title heading3">
                                        Date de alta
                                    </p>
                                    <p class="howworks__step-txt">
                                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="howworks__step">
                                <div class="howworks__step-w-bola">
                                    <div class="howworks__step-bola">
                                        <span class="heading3">1</span>
                                    </div>
                                </div>
                                <div class="howworks__step-w-txt">
                                    <p class="howworks__step-title heading3">
                                        Date de alta
                                    </p>
                                    <p class="howworks__step-txt">
                                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="howworks__step">
                                <div class="howworks__step-w-bola">
                                    <div class="howworks__step-bola">
                                        <span class="heading3">1</span>
                                    </div>
                                </div>
                                <div class="howworks__step-w-txt">
                                    <p class="howworks__step-title heading3">
                                        Date de alta
                                    </p>
                                    <p class="howworks__step-txt">
                                        Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </section>

                <section class="app-form">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="app-form__w-app-img">
                                <img src="assets/img/iPhoneX.png"
                                     srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x"
                                     alt=""
                                     class="app-form__app-img">
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="the-form">
                                <form action="">
                                    <p class="the-form__title heading3">
                                        Solicita una demo
                                    </p>

                                    <div class="the-form__group">
                                        <label for="name">
                                            Nombre
                                        </label>
                                        <input type="text"
                                               id="name"
                                               class="the-form__input"
                                               placeholder="Vincent Chase">
                                    </div>

                                    <div class="the-form__group">
                                        <label for="name">
                                            Email
                                        </label>
                                        <input type="email"
                                               id="name"
                                               class="the-form__input"
                                               placeholder="vincent@mga.com">
                                    </div>

                                    <div class="the-form__group">
                                        <label for="city">
                                            Ciudad
                                        </label>
                                        <select name=""
                                                id="city"
                                                class="the-form__input the-form__select">
                                            <option value="">Madrid</option>
                                            <option value="">Puerto Hurraco</option>
                                            <option value="">Villabolluyos</option>
                                        </select>
                                    </div>

                                    <div class="the-form__group the-form__group_checkbox">
                                        <input type="checkbox"
                                               id="privacity">
                                        <label for="privacity">
                                            Aceptas la <a href="#">política de privacidad</a>
                                        </label>
                                    </div>

                                    <input type="button"
                                           class="the-form__btn btn btn-lg btn-primary"
                                           value="Enviar">
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="opinions">
                    <h2 class="opinions__title heading2">
                        Opiniones de otros guardianes
                    </h2>
                    <ul class="row">
                        <li class="col-md-4">
                            <div class="opinion">
                                <blockquote class="opinion__blq simple-bubble text-large">
                                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                                </blockquote>
                                <p class="opinion__author text-large">
                                    Sergio Garnacho
                                </p>
                                <p class="opinion__author-address">
                                    Tetuán, Madrid
                                </p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="opinion">
                                <blockquote class="opinion__blq simple-bubble text-large">
                                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                                </blockquote>
                                <p class="opinion__author text-large">
                                    Sergio Garnacho
                                </p>
                                <p class="opinion__author-address">
                                    Tetuán, Madrid
                                </p>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="opinion">
                                <blockquote class="opinion__blq simple-bubble text-large">
                                    Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
                                </blockquote>
                                <p class="opinion__author text-large">
                                    Sergio Garnacho
                                </p>
                                <p class="opinion__author-address">
                                    Tetuán, Madrid
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>#}
            {% endblock %}
        </div>

    </div>

</main>
<footer class="footer">
    <div class="wrapper">

        <div class="container-fluid">
            <img src="assets/img/logo.svg"
                 alt="Maleteo"
                 class="footer__logo">
            <p class="footer__claim">
                Hecho con ❤️en Madrid
            </p>
        </div>

        {% block javascripts %}{% endblock %}
    </div>
</footer>
</body>

</html>

