{% extends 'base.html.twig' %}

{% block title %}List Demos{% endblock %}

{% block innerside %}
    <div>
        <h2 class="heading1">Imprimir listado de guardianes</h2>
        <div class="containerguardian col-md-12">
        {% for guardian in guardianes %}
            <div class="elementguardian col-md-4 col-sm-12">
            <ul>
                <li>ID: {{ guardian.id }} </li>
                <li>Autor: {{ guardian.autor }} </li>
                <li>Comentario: {{ guardian.comentario }} </li>
                <li>Ciudad: {{ guardian.ciudad }} </li>
            </ul>
                <ul class="auxform">
                <li><a href="{{ path('editguardian', {id: guardian.id}) }}">Editar la ficha</a> </li>
                <li><a href="{{ path('deleteguardian', {id: guardian.id}) }}">Borrar la ficha</a></li>
                </ul>
            </div>
        {% endfor %}
            </div>
    </div>
    <div class="newguardian"><a href="{{ path('nuevoguardian') }}" > Crear nuevo guardian</a></div>
{% endblock %}