{% extends 'base.html.twig' %}

{% block title %}List Demos{% endblock %}

{% block innerside %}
   {# <div>
        <h2>Imprimir listado de demos</h2>
        {% for demo in auxdemos %}
        <ul>
            <li>{{ demo.nombre}} </li>
            <li>{{ demo.email}} </li>
            <li>{{ demo.ciudad}} </li>
        </ul>
        {% endfor %}
        <a href="{{ path('nuevademo') }}" > Crear nueva solicitud</a>
    </div>#}


    <div>
        <h2 class="heading1">Imprimir listado de demos</h2>
        <div class="containerguardian col-md-12">
            {% for demo in auxdemos %}
                <div class="elementguardian col-md-4 col-sm-12">
                    <ul>
                        <li>ID: {{ demo.id }} </li>
                        <li>Nombre: {{ demo.nombre }} </li>
                        <li>Email: {{ demo.email }} </li>
                        <li>Ciudad: {{ demo.ciudad }} </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="newguardian"><a href="{{ path('nuevademo') }}" >Crear nueva demo</a></div>





{% endblock %}