{% extends 'base.html.twig' %}

{% block title %}Form Guardianes{% endblock %}

{% block innerside %}
    <h2 class="heading1">Crear nuevo guardian</h2>
    {{ form_start(formulario) }}
    {{ form_end(formulario) }}

{% endblock %}