{% extends 'base.html.twig' %}

{% block title %}List Demos{% endblock %}

{% block innerside %}
    <h2 class="heading1">Crear nuevo Demo</h2>
   {{ form_start(formulario) }}
    {{ form_end(formulario) }}

{% endblock %}