{% extends 'base.html.twig' %}

{% block title %}Form Register{% endblock %}

{% block innerside %}
    <h2 class="heading1">Registrar nuevo usuario</h2>
    {{ form_start(formulario) }}
    {{ form_end(formulario) }}

{% endblock %}