{% extends 'base.html.twig' %}

{% block title %}List Demos{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/styles/js/slider.js') }}"></script>
    {% endblock %}

{% block innerside %}
    <div class="">
        <h2 class="heading1">Slider</h2>
        <div class="slideshow-container col-md-12 contpadd">
            {% for guardian in guardianes %}
                <div class="mySlides fade elementslider col-md-4 col-sm-12">
                    <ul>
                        <li>ID: {{ guardian.id }} </li>
                        <li>Autor: {{ guardian.autor }} </li>
                        <li>Comentario: {{ guardian.comentario }} </li>
                        <li>Ciudad: {{ guardian.ciudad }} </li>
                    </ul>
                </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    <div class="newguardian"><a href="{{ path('homepage') }}" > Volver a la home</a></div>
{% endblock %}